body{
    overflow: hidden;
    background-color: #9298e429;
    display: table;
}
.Caixa_Fundo{
    background-color: #1000ff24;
    width: 100vw;
    height: 48vw;
    display: table-cell;
    text-align: -webkit-center;
    vertical-align: middle;
}


.Caixa_Flutuante{
    background-color: #ffffff;
    border: solid 1px;
    border-color: #6448f9;
    width: 50vw;
    height: 26vw;
    display: table-cell;
    vertical-align: middle;
    border-radius: 40px;
    border-left-width: 22px;
    border-left-color: #6448f9;
}

.Caixa_User_Pass{
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
    background-color: #2802f7b8;
    margin-bottom: 20px;
}
.mdl-textfield{
    width: 30vw;
}

.Linha_BotaoEnvio{
    padding: 5px;
}

.mdl-dialog{
    background-color: #4181e0fc;
    color: white;
    width: 30vw;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mdl-dialog__content{
    color: white;
}

.Linha_CPassword{
    display: none;
}