/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/01/2019, 17:29:58
    Author     : Administrador
*/
.Barra-Menu-Superior{
    border: solid 1px;
    border-color: #d0cdc9;
    background-color: #aaafaa21;
    border-style: dashed;
    text-align: center;
    width: 100%;
}
.Pagina-Central{display: flex;}
.BLE{
    border: solid 1px;
    border-color: #d0cdc9;
    background-color: #aaafaa21;
    border-style: dashed;
    text-align: center;
    max-width: 25vw;
}
.BCD{
    border: solid 1px;
    border-color: #d0cdc9;
    background-color: #aaafaa21;
    border-style: dashed;
    text-align: justify;
    max-width: 100vw;
}
.BLD{
    border: solid 1px;
    border-color: #d0cdc9;
    background-color: #aaafaa21;
    border-style: dashed;
    text-align: center;
    max-width: 15vw;
}
.Barra-Status{
    border: solid 1px;
    border-style: dashed;
    border-color: #d0cdc9;
    background-color: #aaafaa21;
    text-align: center;
    width: 100%;
}

.S-EMPTY-Barra-Menu-Superior{
    height: 15vh;
    display: flex;
}

.S-EMPTY-BLE{
    width: 15vw;
    height: 70vh;
    display: inline-flex;
    margin: auto;
}
.S-EMPTY-BCD{
    width: 70vw;
    height: 70vh;
    display: inline-flex;
    margin: auto;
}
.S-EMPTY-BLD{
    width: 15vw;
    height: 70vh;
    display: inline-flex;
    margin: auto;
}

.S-EMPTY-BLE-Barra-Status{
    height: 15vh;
    display: inline-flex;
}